# Environment files
.env
.env.docker
.env.docker.backup

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
hostel_env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
static/
media/

# Node
node_modules/
build/
.DS_Store

# Docker
*.pid
*.seed
*.log
